name: Build
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]
jobs:
  build-project:
    name: Build Project
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, windows-2022]
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Configure Project
        uses: threeal/cmake-action@v2.1.0
        with:
          run-build: false

      - name: Build Project
        run: cmake --build build --config Release

      - name: Install Project
        run: cmake --install build --prefix install
